/Library/
/Logs/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ightmapSnapshot
/Lightmap-*/ 

venv/
env/

/Crashes/

results/
Temp/UnityLockfile
Temp/FSTimeGet-fefb0ca46948e094db43b894434bbe96
Temp/FSTimeGet-4d4d059887b5c7d43b2ec3308b71d118
Temp/FSTimeGet-2e592348579696c40b8c3d0ecc9c8874
.vs/MachineLearning/v17/.futdcache.v2
.vs/MachineLearning/FileContentIndex/ebd5cb1c-3375-4105-afca-736301fbd6d9.vsidx
.vs/MachineLearning/FileContentIndex/dba1a202-4771-4259-a52e-3911295c4c1c.vsidx
.vs/MachineLearning/FileContentIndex/3ac1f3cc-f764-43e0-8c30-6338eaddf223.vsidx
.vs/MachineLearning/FileContentIndex/260a5e8d-00b6-474e-be23-75fa5f9328c8.vsidx
.vs/MachineLearning/DesignTimeBuild/.dtbcache.v2
.vs/MachineLearning/FileContentIndex/549df929-c098-4c06-8d9f-74807107f180.vsidx
.vs/MachineLearning/FileContentIndex/7bbc416f-1347-4b97-845c-35856ebaed89.vsidx
.vs/MachineLearning/FileContentIndex/e9f0fa20-8282-42fd-b56f-ceb0329cefde.vsidx
.vs/MachineLearning/FileContentIndex/f126ea18-3060-483b-85f4-4206b7c39e46.vsidx
.vs/MachineLearning/v17/.suo
.vs/MachineLearning/v17/DocumentLayout.backup.json
.vs/MachineLearning/v17/DocumentLayout.json
Temp/FSTimeGet-ed8f5c24d54ce304e92538ff8f944d19
Temp/workerlic
Temp/__Backupscenes/0.backup
.vs/MachineLearning/FileContentIndex/87690a94-39de-4b02-9059-da187800f4f9.vsidx
Assets/ML-Agents/Timers/SampleScene_timers.json
