/Library/
/Logs/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ightmapSnapshot
/Lightmap-*/ 

venv/
env/

/Crashes/

results/
Temp/UnityLockfile
Temp/FSTimeGet-fefb0ca46948e094db43b894434bbe96
Temp/FSTimeGet-4d4d059887b5c7d43b2ec3308b71d118
Temp/FSTimeGet-2e592348579696c40b8c3d0ecc9c8874
.vs/MachineLearning/v17/.futdcache.v2
.vs/MachineLearning/FileContentIndex/ebd5cb1c-3375-4105-afca-736301fbd6d9.vsidx
.vs/MachineLearning/FileContentIndex/dba1a202-4771-4259-a52e-3911295c4c1c.vsidx
.vs/MachineLearning/FileContentIndex/3ac1f3cc-f764-43e0-8c30-6338eaddf223.vsidx
.vs/MachineLearning/FileContentIndex/260a5e8d-00b6-474e-be23-75fa5f9328c8.vsidx
.vs/MachineLearning/DesignTimeBuild/.dtbcache.v2
